#
# REPLACE THIS FILE
# File: peptalk/backend/requirements.txt
#
requests
beautifulsoup4
langchain
pytest
langchain-text-splitters
langchain-google-genai
langchain_core
chromadb
langchain-chroma
langchain_community
html-to-markdown
markdown

# API server dependencies
fastapi[all]